<div class="container">
  <h1>Longest Word Game</h1>
  <h2>New Game:</h2>

  <ul>
    <% @letters.each do |letter| %>
      <li><%= letter.capitalize %></li>
    <% end %>
  </ul>

  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label>What is the longest word you can find?</label>
    <input type="text" name="word" class="input">
    <input type="submit" value="PLAY" class="btn-gray">
    <%= hidden_field_tag :letter, @letters %>
  </form>
</div>
